body{
   background: #fff;
    
}

.navbar-nav{
    flex-direction: row;
}
.nav li {
    padding: 10px;
}
.html,
body{
 height: 100%;
}

.display-4{
    color: #bbb;
}
.text-white{
    padding: 40px;
}
.display-4 {
    font-size: 2rem;
}
#cover {
  /* background: #222 url('') center center no-repeat; */
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}